.row.align-center
  .column.small-12.medium-8
    .row.align-center
      .column.small-12.medium-8
        h1.text-center LETO SEARCH
    .row.align-center
      .column.small-12.medium-8
        = form_with(url: '/index', method: :get, id: 'new_query' ) do |form|
          .row
            .column.small-12
              .input-group
                .input-group-field
                  = form.text_field :query
                .input-group-button
                  = form.submit 'Search', name: nil, class: 'button black submit_button'
.row.align-center
  .column.small-12.medium-8
    .row.align-center
      .column.small-12.medium-8
        .result
          //= render partial: 'pages/result', locals: { result: @result }
        = render 'pages/spinner'