doctype html
html
  head
    meta charset='utf-8'
    meta name='viewport' content='width=device-width, initial-scale=1.0'
    title = content_for?(:title) ? yield(:title) : 'LETO'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  body
    = yield
